.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__brand{
    display: flex;
    color: #444 !important; 
  }

  &__navigation{
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  &__link{
    text-decoration: none;
    display: flex;
  }

}