.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__brand{
    display: flex;
    color: #444 !important; 
  }

  &__navigation{
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  &__link{
    text-decoration: none;
    display: flex;
  }

  &__counter{
    height: 100%;
    color: white;
    font-weight: bold;
    background-color: rgb(255, 136, 0);
    padding: 2px 6px;
    border-radius: 100%;
    font-size: 12px;
  }

}